<app-sidebar></app-sidebar>
<main class="app-content">
  <div class="app-title" style="margin-top: 40px">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a routerLink="/agentsEmployee"><b>Quản lý đại lí</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">

          <div class="row element-button">
            <div class="col-sm-2">
              <a class="btn btn-excel btn-sm" (click)="exportToExcel()" title="In"><i class="fas fa-file-excel"></i> Xuất Excel</a>
            </div>
          </div>

          <div class="row element-button ">
            <div class="col-md-8"> <!-- Chia thành 8 phần cho ô tìm kiếm -->
              <form *ngIf="rfSearch" [formGroup]="rfSearch" (ngSubmit)="findAllAgents(0)">
                <div class="dataTables_filter" style="text-align: left;">
                  <label><strong>Tìm kiếm:</strong>
                    <input formControlName="name" type="search" class="form-control form-control-sm " placeholder="Nội dung tìm kiếm" aria-controls="sampleTable" style="border-radius: 5px; border: 1px solid #ccc; padding: 24px;">
                  </label>
                </div>
                <!-- Modal -->
                <div class="modal fade"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: black">Cập nhật</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="form-group  col-md-6">
                          <label for="exampleSelect1" class="control-label">Họ vàn tên nhân viên</label>
                          <select class="form-control" id="exampleSelect1" formControlName="employeeId" (change)="onEmployeeSelected($event)">
                            <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</option>
                          </select>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" (click)="updateEmployees()">Cập nhật</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-4 custom-btn-col"> <!-- Chia thành 4 phần cho ô button cập nhật nhân viên -->
              <button type="button" class="btn btn-primary custom-btn" data-toggle="modal" data-target="#exampleModal">
                Cập nhật nhân viên
              </button>
            </div>
          </div>
          <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
                 id="sampleTable" *ngIf="pageAgent != null" >
            <thead>
            <tr>
              <th width="10"><input type="checkbox" id="all" [checked]="checkedAll" (click)="toggleAllCheckboxes()"></th>
              <th width="150" (click)="sortAgents()" >Tên đại lí
                <i class="fas fa-sort"></i>
              </th>
              <th>Họ và tên người liên lạc</th>
              <th>Số điện thoại liên lạc</th>
              <th>Địa chỉ</th>
              <th>Vị trí google map</th>
              <th>Họ và tên nhân viên</th>
              <th width="100">Tính năng</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of pageAgent.content ; let i = index">
              <td width="10"><input type="checkbox" name="check1" value="1" [checked]="checkedAll" (click)="addToUpdate(item.id) "></td>
              <td>{{item.nameAgent}}</td>
              <td>{{item.nameUser}}</td>
              <td>{{item.phoneNumber}}</td>
              <td>{{item.address}}</td>
              <td style="text-align: center;"><a href="{{item.locationGoogleMap}}" target="_blank">
                <img src="https://play-lh.googleusercontent.com/Kf8WTct65hFJxBUDm5E-EpYsiDoLQiGGbnuyP6HBNax43YShXti9THPon1YKB6zPYpA" alt=""
                     style="width: 45px; height: 45px; border-radius: 50%; border: 1px solid #ccc; padding: 2px;"></a></td>
              <td>{{item.nameEmployee}}</td>
              <td  class="table-td-center">
                <button class="btn btn-primary btn-sm trash" type="button" title="Xóa" (click)="delete(item.id, item.nameAgent)">
                  <i class="fas fa-trash-alt"></i>
              </button>
                <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp"
                        data-toggle="modal" data-target="#ModalUP" [routerLink]="['/editAgent/', item.id]">
                  <i class="fas fa-edit"></i>
                </button>
              </td>
            </tr>

            </tbody>
          </table>
        </div>

        <div align="center" *ngIf="pageAgent == null">
          <img src="https://i.pinimg.com/originals/49/e5/8d/49e58d5922019b8ec4642a2e2b9291c2.png" style="width: 350px; height: 350px;" alt="">
          <h5>Không Tìm Thấy Dữ Liệu</h5>
        </div>

        <div class="col-12" *ngIf="pageAgent !== null" >
          <nav>
            <ul class="pagination justify-content-center" *ngIf="pageAgent">
              <li class="page-item"><a class="page-link"
                                       (click)="gotoPage(0)"> << </a></li>
              <li class="page-item" *ngIf="pageAgent.number - 2 > 0">
                <a class="page-link" (click)="gotoPage(pageAgent.number - 3)">{{pageAgent.number - 2}}</a>
              </li>
              <li class="page-item" *ngIf="pageAgent.number - 1 > 0">
                <a class="page-link" (click)="gotoPage(pageAgent.number - 2)">{{pageAgent.number - 1}}</a>
              </li>
              <li class="page-item" *ngIf="pageAgent.number > 0">
                <a class="page-link" (click)="gotoPage(pageAgent.number   - 1)">{{pageAgent.number}}</a>
              </li>

              <li class="page-item active"><a class="page-link">{{pageAgent.number + 1}}</a></li>

              <li class="page-item" *ngIf="pageAgent.number + 2 <= pageAgent.totalPages">
                <a class="page-link" (click)="gotoPage(pageAgent.number + 1)">{{pageAgent.number + 2}}</a>
              </li>
              <li class="page-item" *ngIf="pageAgent.number + 3 <= pageAgent.totalPages">
                <a class="page-link" (click)="gotoPage(pageAgent.number + 2)">{{pageAgent.number + 3}}</a>
              </li>
              <li class="page-item" *ngIf="pageAgent.number + 4 <= pageAgent.totalPages">
                <a class="page-link" (click)="gotoPage(pageAgent.number + 3)">{{pageAgent.number + 4}}</a>
              </li>
              <li class="page-item"><a class="page-link"
                                       (click)="gotoPage(pageAgent.totalPages - 1)"> >> </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</main>


