
<app-sidebar></app-sidebar>

<main class="app-content">
  <div class="app-title" style="margin-top: 40px">
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item">Danh sách nhân viên</li>
      <li class="breadcrumb-item"><a href="#">Thêm nhân viên</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="tile">

        <h3 class="tile-title">Tạo mới nhân viên</h3>
        <div class="tile-body">
          <form class="row" [formGroup]="rfAddUser" (ngSubmit)="create()">
            <div class="form-group col-md-6">
              <label class="control-label">Họ và tên</label>
              <input class="form-control" type="text" formControlName="name"
                     [ngClass]="(rfAddUser.controls['name'].touched)?
                      rfAddUser.controls['name'].invalid?'is-invalid':'is-valid':''"/>
              <div *ngIf="rfAddUser.controls['name'].hasError('required') &&
                                     rfAddUser.controls['name'].touched" style="color: red ; float:left;">
                Họ và tên không được để trống.
              </div>
              <div *ngIf="rfAddUser.controls['name'].hasError('maxlength') &&
                                     rfAddUser.controls['name'].touched" style="color: red ; float:left;">
                Họ và tên quá dài.
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Số điện thoại</label>
              <input class="form-control" type="text" formControlName="phoneNumber"
                     [ngClass]="(rfAddUser.controls['phoneNumber'].touched)?
                      rfAddUser.controls['phoneNumber'].invalid?'is-invalid':'is-valid':''"/>
              <div *ngIf="rfAddUser.controls['phoneNumber'].hasError('required') &&
                                     rfAddUser.controls['phoneNumber'].touched" style="color: red ; float:left;">
                Số điện thoại không được để trống.
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Tài khoản</label>
              <input class="form-control" #checkName1 (ngModelChange)="checkUsername(checkName1.value)" type="text" formControlName="username"
                     [ngClass]="(rfAddUser.controls['username'].touched)?
                             (rfAddUser.controls['username'].invalid || rfAddUser.errors?.['areEqual'])?'is-invalid':'is-valid':''"/>
              <div *ngIf="rfAddUser.controls['username'].hasError('required') &&
                                     rfAddUser.controls['username'].touched" style="color: red ; float:left;">
                Tài khoản không được để trống.
              </div>
              <div *ngIf="rfAddUser.controls['username'].hasError('invalidUsername') &&
                                     rfAddUser.controls['username'].touched" style="color: red ; float:left;">
                Tài khoản đã tồn tại.
              </div>
              <div *ngIf="rfAddUser.controls['username'].hasError('minlength') &&
                                     rfAddUser.controls['username'].touched" style="color: red ; float:left;">
                Tài khoản quá ngắn.
              </div>
              <div *ngIf="rfAddUser.controls['username'].hasError('maxlength') &&
                                     rfAddUser.controls['username'].touched" style="color: red ; float:left;">
                Tài khoản quá dài.
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Mật khẩu</label>
              <input class="form-control" type="password" formControlName="password"
                     [ngClass]="(rfAddUser.controls['password'].touched)?
                        rfAddUser.controls['password'].invalid?'is-invalid':'is-valid':''"/>
              <div *ngIf="rfAddUser.controls['password'].hasError('required') &&
                                     rfAddUser.controls['password'].touched" style="color: red ; float:left;">
                Mật khẩu không được để trống.
              </div>
              <div *ngIf="rfAddUser.controls['password'].hasError('minlength') &&
                                     rfAddUser.controls['password'].touched" style="color: red ; float:left;">
                Mật khẩu quá ngắn.
              </div>
              <div *ngIf="rfAddUser.controls['password'].hasError('maxlength') &&
                                     rfAddUser.controls['password'].touched" style="color: red ; float:left;">
                Mật khẩu quá dài.
              </div>
            </div>
            <div class="form-group col-md-4">
              <button class="btn btn-save" type="submit" [disabled]="(!rfAddUser.valid)">Lưu lại</button>
              <a class="btn btn-cancel" routerLink="/listEmployee">Hủy bỏ</a>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</main>
