
<app-sidebar></app-sidebar>

<main class="app-content">
  <div class="app-title" style="margin-top: 40px">
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/detail">Thông tin cá nhân</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="tile">

        <h3 class="tile-title">Thông tin cá nhân</h3>
        <div class="tile-body">
          <form class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Họ và tên</label>
              <input readonly class="form-control" type="text" value="{{detailUser.name}}"/>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Số điện thoại</label>
              <input  readonly class="form-control" type="text" value="{{detailUser.phoneNumber}}" />
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Tài khoản</label>
              <input readonly class="form-control" type="text" value="{{detailUser.username}}" />
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Mật khẩu</label>
              <button style="width: 100%; height: 44px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Đổi Mật Khẩu
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</main>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form [formGroup]="rfPassword" (ngSubmit)="changePassword()">
          <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
              <div class="col-md-12 text-center mb-3">
                <h3 class="tile-title">Đổi mật khẩu</h3>
              </div>
              <div class="col-md-12 mt-3">
                <div class="form-group">
                  <label for="oldPassword" class="labels">Mật khẩu cũ</label>
                  <div class="input-group">
                    <input [type]="op ? 'text' : 'password'" id="oldPassword" class="form-control" formControlName="password">
                    <button [disabled]="rfPassword.controls.password.value == ''" (click)="oldPassword()" type="button" style="height: 45px;" class="btn btn-primary ml-2">
                      <i class="fa" [ngClass]="{'fa-solid fa-eye-slash': !op,'fa-solid fa-eye': op}"></i>
                    </button>
                  </div>
                  <span class="text-danger">{{passwordError}}</span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="newPassword" class="labels">Mật khẩu mới</label>
                  <div class="input-group">
                    <input [type]="np ? 'text' : 'password'" id="newPassword" class="form-control" formControlName="newPassword">
                    <button [disabled]="rfPassword.controls.newPassword.value == ''" (click)="newPassword()" type="button" style="height: 45px;" class="btn btn-primary ml-2 ">
                      <i class="fa" [ngClass]="{'fa-solid fa-eye-slash': !np,'fa-solid fa-eye': np}"></i>
                    </button>
                  </div>
                  <span class="text-danger">{{newPasswordError}}</span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="labels" for="confirmPassword">Mật khẩu xác nhận</label>
                  <div class="input-group">
                    <input [type]="cp ? 'text' : 'password'" id="confirmPassword" class="form-control" formControlName="confirmPassword">
                    <button [disabled]="rfPassword.controls.confirmPassword.value == ''" (click)="confirmPassword()" style="height: 45px;" type="button" class="btn btn-primary ml-2">
                      <i class="fa" [ngClass]="{'fa-solid fa-eye-slash': !cp,'fa-solid fa-eye': cp}"></i>
                    </button>
                  </div>
                  <span class="text-danger">{{confirmPasswordError}}</span>
                </div>
              </div>
              <div class="col-md-12 mt-5 text-center">
                <button class="btn btn-primary" type="submit">Chỉnh sửa</button>
                <button id="dismiss2" style="margin-left: 20px" type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

