/* sidebar.component.css */

.app-sidebar__toggle {
  /* Thêm các thuộc tính CSS cho nút toggle */

}

.app-sidebar {
  /* Thêm các thuộc tính CSS cho sidebar */
}

.app-sidebar__overlay {
  /* Thêm các thuộc tính CSS cho overlay */
}

/* Thêm styles cho hiệu ứng sidebar animation */
.app-sidebar {
  transition: margin-left 0.3s;
}

.app-sidebar.open {
  margin-left: 0;
}

.app-sidebar.closed {
  margin-left: -250px; /* Kích thước của sidebar khi thu vô */
}

.app-sidebar__toggle:before {
  color: yellow !important;
}

.app-nav__item.ng-tns-c53-0:hover {
  background-color: #f1f12d;
  color: #333;
}


