
<app-sidebar></app-sidebar>

<main class="app-content">
  <div class="app-title" style="margin-top: 40px">
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item">Quản lý đại lí</li>
      <li class="breadcrumb-item"><a href="#">Thêm mới đại lí</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="tile">

        <h3 class="tile-title">Thêm mới đại lí</h3>
        <div class="tile-body">
          <form class="row" [formGroup]="formEditAgent" (ngSubmit)="updateProduct(id)">
            <div class="form-group col-md-6">
              <label class="control-label">Tên đại lí</label>
              <input class="form-control" type="text" formControlName="nameAgent"/>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Họ và tên người liên lạc</label>
              <input class="form-control" type="text" formControlName="nameUser"/>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Số điện thoại liên lạc</label>
              <input class="form-control" type="text" formControlName="phoneNumber"/>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Địa chỉ</label>
              <input class="form-control" type="text" formControlName="address"/>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Vị trí google map</label>
              <input class="form-control" type="text" formControlName="locationGoogleMap"/>
            </div>
            <div class="form-group col-md-6" style="display: flex; align-items: flex-end;">
              <button class="btn btn-save" type="submit">Lưu lại</button>
              <a class="btn btn-cancel" [routerLink]="accountRole === 'ROLE_ADMIN' ? '/agentsAdmin' : '/agentsEmployee'">Hủy bỏ</a>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</main>
